@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #2cb37a,
    ),
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;