:root {
    --header-height: 50px;
    --content-max-width: 700px;
    --link-to-color: #fff;
    --link-to-bgc: #333;

    --text-content-line-height: 3rem;
    --grammar-headers-height: 35px;
    --lesson-headers-height: 60px;

    --gap12: 12px;
    --gap-12: 12px;
    --audio-height: 54px;
    --root-header-height: 30px;
    --pagination-height: 35px;
    --single-row-header-height: 35px;
    /* default */
    --root-footer-height: 0px;
    /* desktop */
    /*--root-footer-height: 0px;*/
    /* android chrome */
    /*--root-footer-height: 55px;*/
    /* android edge */
    /*--root-footer-height: 105px;*/

    --width-12: 12px;

    --right-site-center: calc((100vw - var(--content-max-width)) * 0.25)
}

@media (min-width: 700px) {
    :root {
        --ib-offset: var(--right-site-center);
    }
}

@media (max-width: 700px) {
    :root {
        --ib-offset: 0;
    }
}

html.dark {
    --link-to-color: #fff;
    --link-to-bgc: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

a:link {
    color: inherit;
}

a:visited {
    /*color: #B37AFF;*/
    color: inherit;
}

a:hover {
    /*color: #4285F4;*/
    color: inherit;
}

a:active {
    /*color: #FF0000;*/
    color: inherit;
}

ruby rt {
    user-select: none;
    pointer-events: none;
}

ruby rt::before {
    content: attr(d);
}

.indentation {
    text-indent: 2rem;
}