:root {
    --el-color-primary: rgb(22, 135, 99) !important;
    --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 70%, white 30%) !important;
    --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 50%, white 50%) !important;
    --el-color-primary-light-7: color-mix(in srgb, var(--el-color-primary) 30%, white 70%) !important;
    --el-color-primary-light-8: color-mix(in srgb, var(--el-color-primary) 20%, white 80%) !important;
    --el-color-primary-light-9: color-mix(in srgb, var(--el-color-primary) 10%, white 90%) !important;
    --el-color-primary-dark-2: color-mix(in srgb, var(--el-color-primary) 80%, black 20%) !important;

    --header-height: 50px;
    --content-max-width: 700px;

    --text-content-line-height: 3rem;
    --grammar-headers-height: 35px;
    --lesson-headers-height: 60px;

    --gap12: 12px;
    --gap-12: 12px;
    --audio-height: 54px;
    --root-header-height: 30px;
    --pagination-height: 35px;
    --single-row-header-height: 35px;
    /* default */
    --root-footer-height: 0px;
    /* desktop */
    /*--root-footer-height: 0px;*/
    /* android chrome */
    /*--root-footer-height: 55px;*/
    /* android edge */
    /*--root-footer-height: 105px;*/

    --width-12: 12px;

    --right-site-center: calc((100vw - var(--content-max-width)) * 0.25)
}

@media (min-width: 700px) {
    :root {
        --ib-offset: var(--right-site-center);
    }
}

@media (max-width: 700px) {
    :root {
        --ib-offset: 0;
    }
}

html {
    font-size: 10px;
}

html.dark {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--el-color-primary);
    text-underline-offset: 4px;
}

ruby rt::before {
    content: attr(d);
    font-size: 1.5rem;
}

.indentation {
    text-indent: 2rem;
}