:root {
    --root-header-height: 40px;

    --header-height: 40px;
    --content-max-width: 800px;

    --text-content-line-height: 3;
    --grammar-headers-height: 40px;
    --lesson-headers-height: 70px;

    --gap12: 12px;
    --gap-12: 12px;
    --audio-height: 54px;

    --pagination-height: 35px;
    --single-row-header-height: 35px;

    /* default */
    --root-footer-height: 0px;
    /* desktop */
    /*--root-footer-height: 0px;*/
    /* android chrome */
    /*--root-footer-height: 55px;*/
    /* android edge */
    /*--root-footer-height: 105px;*/

    --width-10: 10px;
    --width-12: 12px;

    --right-site-center: calc((100vw - var(--content-max-width)) * 0.25);

    font-size: 10px;
}

@media (min-width: 800px) {
    :root {
        --ib-offset: var(--right-site-center);
    }
}

@media (max-width: 800px) {
    :root {
        --ib-offset: 10px;
        --gap12: 10px;
        --gap-12: 10px;
        --lesson-headers-height: 60px;

        font-size: 8px;
    }
}

html.dark {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--el-color-primary);
    text-underline-offset: 4px;
}

ruby rt::before {
    content: attr(d);
    font-size: 1rem;
}

.indentation {
    text-indent: 2rem;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}