:root {
    --header-height: 50px;
    --content-max-width: 700px;
    --go-top-color: #fff;
    --go-top-bgc: #333;

    --text-content-line-height: 3rem;
}

html.dark {
    --go-top-color: #fff;
    --go-top-bgc: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

a:link {
    color: inherit;
}

a:visited {
    /*color: #B37AFF;*/
    color: inherit;
}

a:hover {
    /*color: #4285F4;*/
    color: inherit;
}

a:active {
    /*color: #FF0000;*/
    color: inherit;
}

ruby rt {
    user-select: none;
    pointer-events: none;
}

ruby rt::before {
    content: attr(data-ruby);
}

.indentation {
    text-indent: 2rem;
}